<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -Pos Application</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap" rel="stylesheet">


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="/wwwroot/js/list.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>

    <body>
        <header class="yapiskan">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Product" asp-action="Anasayfa">Anasayfa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Product" asp-action="List">Menü</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="SignUp">Kayıt Ol</a>
                        </li>
                        
                            <li>
                            <a class="btn btn-info nav-link " asp-controller="Home" asp-action="LogIn">Giriş Yap</a>
                        </li>
                        

                    </ul>
                </div>
            </div>
        </nav>
    </header>
        @RenderBody()
        <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    
    <div class="modal fade login" data-keyboard="false" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        
        <div class="modal-dialog cascading-modal" role="document">
            
            <div class="modal-content" >
                
                <div class="modal-body">
                
                <h3>Giriş Yap</h3><hr>

                <form>
                    <div class="form-group">
                    <label for="inputUserName">Kullanıcı Adı</label>
                    <input class="form-control" placeholder="Kullanıcı Adınzı Giriniz..." type="text" id="inputUserName"> 
                    </div>

                    <div class="form-group">
                    <label for="inputPassword">Şifre</label>
                    <input class="form-control" placeholder="Şifrenizi Giriniz..." type="password" id="inputPassword">
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Beni Hatırla</label>
                    </div>
                </form>

                </div> <!-- MODAL BODY DİV END -->

                    <div class="modal-footer">
                    <button class="btn btn-outline-primary nav-link" data-target="#RegisterModal" data-toggle="modal" ><a href="../Home/SignUp">Kayıt Ol</button>
                    <button class="btn btn-outline-danger" data-dismiss="modal">Kapat</button>
                    <button class="btn btn-outline-success">Giriş</button> 
                    </div> <!-- MODAL FOOTER DİV END -->
                                        
            </div> <!-- MODAL CONTENT DİV END -->

        </div> <!-- MODAL DİALOG DİV END -->

    </div> <!-- MODAL LOGİN DİV END -->

    </body>
</html>