<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
@model PasswordChangeViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "form1";
}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->


    <!-- VALİDATİON KISIMLARI BASLANGICI -->
    <div class="form group " >
 <span asp-validation-for="PasswordOld" class="text-danger "></span>
  <br>
 <span asp-validation-for="PasswordNew" class="text-danger "></span>
 <br>
 <span asp-validation-for="PasswordConfirm" class="text-danger "></span>
 <div asp-validation-summary="ModelOnly" class="text-danger"> </div>

</div>

    <!-- VALİDATİON KISIMLARI SONU -->


     <!-- Login Form -->
    <form  method="post" asp-action="PasswordChange" >

     <!-- Fotoğraf kısmı-->
     <div class="fadeIn first"> <h1>Şifre Değiştir</h1>
     <br>
    </div>


      <input type="password"  class="fadeIn second"  asp-for="PasswordOld" placeholder="Eski Şifrenizi Giriniz"/>

      <input type="password"  class="fadeIn third"  asp-for="PasswordNew" placeholder="Yeni Şifrenizi Giriniz"/>

      <input type="password" class="fadeIn fourth" asp-for=PasswordConfirm placeholder="Yeni Şifrenizi Tekrar Giriniz"/>
      

      <input type="submit" class="fadeIn four " value="Şifreni Değiştir"> 
    </form>

    <!-- Remind Password -->
    <div id="formFooter">
    </div>

  </div>
</div>